*{
    margin: 0px;
    padding: 0px;
}

#contenedor{
    background-color: #ffffff;
    width: 1000px;
    margin:auto;
    border: black;
}

body{
    background-color: rgb(227, 230, 228);
}

section {
    overflow: hidden;
    height: 100%;
  }

.Menu {
    text-align: right;
    padding-top: 45px;
    padding-right: 25px;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
    padding: 6px;
    font-family: 'Raleway', sans-serif;
}

.Menu a:hover {
    background-color: rgb(187, 255, 61);
}

.logo img{
    height: 60px;
    width: 70px;
    position: absolute;
    left: 200px;
    top: 15px;
}

.fondo1 {
    background-color: rgb(187, 255, 61);
}

.bloque1 {
    padding-left: 100px;
    padding-top: 50px;
}

.p1 {
    padding-top: 30px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.p2 {
    padding-top: 10px;
    font-size: 40px;
}

.p3 {
    padding-top: 10px;
    padding-bottom: 35px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.caja1 {
    position: absolute;
    left: 650px;
    top: 430px;
}

.caja1 img {
    width: 500px;
    height: 300px;
}

button{
    background-color: black;
    color: white;
    padding: 13px;
    font-family: 'Raleway', sans-serif;
    border: none;
}

.a{
    background-color: black;
    color: white;
    padding: 13px;
    font-family: 'Raleway', sans-serif;
    border: none;
}

.a:hover {
    color: rgb(231, 209, 6);
}

.imaginario {
    padding-bottom: 120px;
}

.slider-frame {
	width: 1283px;
    height: 313px;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
    
	list-style: none;
}

.slider-frame img {
	width: 78%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.imaginario2{
    background-color: rgb(0, 0, 0);
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.imaginario2 p {
    background-color: white;
    margin-left: 110px;
    margin-right: 110px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: rgb(2, 2, 2);
    padding: 5px;
}

.h4 {
    text-align: center;
    padding-top: 20px;
}

.h4 h1 {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}

.cajagrande {
    display: flex;
    justify-content: center;
}

.tarjeta1 {
    text-align: center; 
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(134, 126, 126);
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.tarjeta1 h3 {
    font-family: 'Raleway', sans-serif;
    background-color: greenyellow;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.tarjeta1 img {
    height: 200px;
    width: 200px;
    padding-top: 20px;
    transition: 0.5s;
    object-fit: cover;
}

.tarjeta1 img:hover {
    transform: scale(1.2);
}

.tarjeta1 p {
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.cajagrande2 {
    display: flex;
    justify-content: center;
}

.tarjeta1 button:hover {
    background-color: red;
}

.anuncio {
    text-align: center;
}

.p4 {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #091b57;
    font-size: 30px;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: rgb(2, 2, 43);
}

.p4 h1 {
    background-color: yellowgreen;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 30px;
}

.cajagrande3 {
    display: flex;
    justify-content: center;
}

.imagenes, .imagenes2 {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    bottom: 70px;
}

.imagenes img{
    height: 50px;
    width: 100px;
}

.imagenes2 img {
    height: 50px;
    width: 180px;
}

.caja2 {
    text-align: center;
}

.caja2 {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}

.animacion {
    display: flex;
    width: 800px;
    height: 430px;
    padding-left: 100px;
    padding-bottom: 10px;
}

.animacion img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 3s ease;
}

.animacion img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.title1 {
    text-align: center;
    font-size: 21px;
    padding-bottom: 30px;
}

.title1 p {
    font-family: 'Mochiy Pop One', sans-serif;
    color: rgb(0, 0, 0);
}

.title1 span {
    color: red;
}

.arribacaja {
    position: fixed;
    bottom: -40px;
    right: -20px;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.arribaboton {
    width: 0rem;
    height: 0rem;
    background: #091b57;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.arribaboton i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: 2s;
}

.show {
    z-index: 10;
}

.show .arribaboton {
    animation: popup .3s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}

.texto {
    background-color: rgb(231, 209, 6);
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.texto p {
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}

.anuncio2 {
    text-align: center;
    padding-top: 50px;
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

.titular1 {
    position: absolute;
    top: 190px;
    left: 460px;

}

.titular1 h2{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.titular2 {
    position: absolute;
    top: 220px;
    left: 260px;
}

.titular2 h1{
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}





@media (max-width: 768px)
    {
        .Menu {
              margin-right: 220px;
        }

        .logo img {
            left: 30px;
        }

        .slider-frame img {
            width: 68%;
            height: 120%;
        }

        .bloque1{
            padding-left: 50px;
        }

        .caja1 {
            left: 350px;
        }

        .caja1 img {
            width: 400px;
            height: 300px;
        }

        .imaginario2 {
            width: 80%;
        }

        .imaginario2 p{
            font-size: 25px;
            margin-left: 70px;
            margin-right: 70px;
        }

        .h4 {
            width: 80%;
        }
    }

