<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/nosotros.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
    </style>
</head>
<body>
    <header>
        <div class="caja">
            <img src="pexels-diana-chaplin-1242458.jpg" alt="">
        </div>
        <div class="textomov">
            <h1>Venta de Plantas Ornamentales y Medicinales</h1>
            <h2>Naturalizer RD</h2>
        </div>
    </header>

    <section>
        <article>
            <div class="contenido">
                <div class="contenido2">
                    <h1>Naturalizer</h1>
                    <p>Naturalizer se trata de un negocio de plantas el cual se enfoca en el cultivo, cuidado y venta de una variedad de plantas, ya sea de interior o exterior, con fines decorativos, alimenticios, medicinales, entre otros. Ofrecemos nuestros productos en nuestra tienda física y en línea, en el que también brindamos servicios de asesoramiento y diseño de jardines. Este negocio de plantas es muy gratificante para nosotros, ya que la demanda de plantas siempre ha sido constante y hay muchos amantes de la jardinería y la horticultura en todo el mundo los cuales queremos servirles.</p>
                    
                    <p>En cuanto a las plantas ornamentales, se cultivan variedades que son apreciadas por su belleza y se utilizan para decorar jardines, parques, interiores de viviendas y espacios públicos. Estas plantas pueden incluir flores coloridas, arbustos decorativos, plantas trepadoras, árboles ornamentales y plantas de interior, entre otras.</p>

                    <p>Por otro lado, las plantas medicinales se cultivan por sus propiedades curativas o beneficios para la salud. Estas plantas pueden utilizarse en la producción de medicamentos naturales, infusiones, aceites esenciales, extractos, cremas y otros productos relacionados con la salud y el bienestar. Algunas plantas medicinales comunes incluyen la manzanilla, la lavanda, la menta, el aloe vera, el romero y la salvia, entre muchas otras.</p>
                </div>
            </div>
        </article>

        <article>

            <div class="cajagrande1">
                <div class="nosotros">
                    <h1>Visión</h1>
                    <img src="eye.png" alt="">
                    <p>Nos visualizamos como la principal referencia en el mercado de plantas, siendo reconocidos por nuestra excelencia en calidad, variedad y conocimiento especializado. Queremos ser el destino preferido para todos aquellos amantes de la naturaleza y entusiastas de las plantas, brindando una experiencia única y enriquecedora. Nuestra visión es convertirnos en un centro de inspiración y aprendizaje.</p>
                </div>

                <div class="nosotros">
                    <h1>Misión</h1>
                    <img src="achievement.png" alt="">
                    <p>Nuestra misión es proporcionar a nuestros clientes una amplia selección de plantas de alta calidad y servicios relacionados para ayudarlos a crear y mantener hermosos espacios verdes. Nos comprometemos a fomentar el amor por la naturaleza y promover la importancia de las plantas en la salud y el bienestar de las personas y el medio ambiente.</p>
                </div>

                <div class="nosotros">
                    <h1>Valores</h1>
                    <img src="hands.png" alt="">
                    <p>Calidad: Nos comprometemos a ofrecer plantas y productos de alta calidad, asegurando su salud y vitalidad.
                        Conocimiento: Nos esforzamos por ser expertos en el cuidado de las plantas y brindar asesoramiento y educación de calidad a nuestros apreciados clientes.
                        
                        Creatividad: Fomentamos la creatividad y la innovación en el diseño de jardines y paisajismo, buscando soluciones únicas y atractivas.
                        </p>
                </div>
            </div>

            <div class="anuncio2">
                <img src="anuncion2.gif" alt="">
            </div>

        </article>

    </section>

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Naturalizer<span>RD</span></h3>

            <p class="footer-links">
                <a href="Naturalizer.html">Inicio</a>
                |
                <a href="Naturalizer.html">Nosotros</a>
                |
                <a href="Naturalizer.html">Plantas</a>
                |
                <a href="Naturalizer.html">Cuidado de Plantas</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>NaturalizerRD</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>República Dominicana</span>
                    Santo Domingo</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>829-376-6606</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:adanrleon05@gmail.com">NaturalizerRd@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Sobre Nosotros</span>
                <strong>Naturalizer</strong> es una pagina web en la cual se promueve la venta de plantas medicinales y ornamentales por y para el cuidado del medio ambiente.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>


</body>
</html>